/SubCommandLootCrateAdd.html
/SubCommandLootCrateCommand.html
/SubCommandLootCrateCreate.html
/SubCommandLootCrateGet.html
/SubCommandLootCrateItems.html
/SubCommandLootCrateKey.html
/SubCommandLootCrateReload.html
/SubCommandLootCrateRemove.html
/SubCommandLootCrateSet.html
